.icon-wrapper {
  background: transparent;
  margin: 0;
  display: inline;
  margin: 0 0.4em;
  border-radius: 50%;
  cursor: pointer;
}
.icon {
  font-size: 1.8rem;
  cursor: pointer;
  & span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
  }
}
