server/test/
template/
coverage
node_modules
.nys_output
webpack.connfig.babel.js
**/package.json
**/README.node_modules
**/Procfile
**/package-lock.json
dist
client/src/**/test/*.js
client/src/components/**/*.test.js
package-lock.json
