@import '../../../../scss/_var.scss';

.direction-header{
  height: 50px;
  display: flex;
  background-color:#f8f9fa;
  color:$dark-text;
  & a{
    font-size: 1.5rem;
    margin-left: 50px;
    min-width:90%;
    background-color:#f8f9fa;
    color:$dark-text;
  }
  & h5, & a{
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    background-color:$dimmed-white;
    color:$dark-text;
  }
  & .icon-wrapper{
    position: absolute;
    left: 20px;
    color: rgba($dark-text,.5);
  }
}

