@import '../../../scss/_var.scss';

.a {
  font-size: 1em;
  color: $dark-text ;
  text-decoration: none !important;
}
.accordion-text{
  color: $dark-text ;
  font-weight: 500;
}

.accordion{
  background: transparent;
  border: 0;
}
