.a {
  font-size: 1.4em;
  color: white !important;
  text-decoration: none !important;
}
.accordion-text{
  font-size: 2em;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

.accordion{
  background: transparent;
  border: 0;
}
