.a {
  font-size: 1em;
  color: white ;
  text-decoration: none !important;
}
.accordion-text{
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}

.accordion{
  background: transparent;
  border: 0;
}
