@import '../../../scss/_var.scss';

.navbar{
  min-height: 10vh;
}

.navbar-brand{
  margin: 0;
  color: $primary-color !important;
  &>h1{
    font-weight: 400;
  }
}
.navbar-nav{
  display: flex;
  margin: 0 !important;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  height: inherit;
}
.nav-item{
  padding: 0 .2em;
  margin: 0 .5em;
  height: inherit;
  display: flex;
  align-items: center;
  > a{
    color: $primary-color !important;
    height: 3vh;
    display: flex;
    align-items: center;
    padding: 0;
    &:hover, &.active, .nav-link-active{
      border-bottom: $primary-color 2px solid;
    }
  }
}

@media (max-width:767px){
  .navbar-nav{
      align-items: center;
      justify-content: center;
    }
  }

