@import '../../../../scss/_var.scss';

.items {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  border: 2px solid rgba($dark-text, 0.1);
  &-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 35%;
    height: fit-content;
    & form {
      max-height: fit-content;
      padding: 0;
    }
  }
  &-header-text {
    background-color: $bg-color;
    color: $primary-color;
    padding: 1em;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &-list {
    overflow: scroll;
    height: 65%;
    &-item {
      min-height: 50px;
      margin: 0;
      padding: 1em 0.5em;
      color: $dark-text;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0.5em;
      transition: background-color 0.4s ease-in;
      border-radius: 0 !important;
      width: 95%;
      margin: 0.25em auto;
    }
  }
}
.item-edit-form {
  display: flex;
  height: fit-content;
  align-items: flex-start;
  padding: 0.3em;
}
.item-edit-form-textarea {
  flex-direction: column;
  padding-top: 0.5em;
  width: 100%;
}
.item-edit-input {
  min-height: 1.5em;
  font-size: 1.6em;
  height: 50px;
}
.item-edit-textarea,
textarea {
  height: 150px;
  border-radius: 0;
  margin-bottom: 0.5em;
}
.item-edit-fg {
  flex: 2;
  margin: 0;
  width: 100%;
}
.item-edit-btn {
  align-self: flex-end;
  box-shadow: none !important;
  font-size: 1.4em;
  height: 50px;
}
.items-list-wrapper {
  background: $bg-color;
  height: inherit;
  padding: 1em 0;
}

.add-item-input {
  font-size: 1.5rem;
  border-radius: 0;
  & > .help-text {
    font-size: 1.5em;
    font-weight: 200;
    text-align: center;
    background: rgba(213, 56, 50, 0.06);
    margin-bottom: 5px;
  }
}
