
.name-category {
  background: $bg-color;
}
.ingredients {
  background: $bg-color;
}
.directions {
  background: $bg-color;
}
.name-category,
.directions,
.ingredients {
  padding: 0;
  height: fit-content;
  background: $bg-color;
  margin-top: 0.5rem;
}
.add-recipe-input {
  font-size: 1.2rem;
}

@media (max-width: 991px) {
  .name-category {
    order: 1;
    height: fit-content;
    margin-bottom: 50px;
    padding-bottom: 3em !important;
  }
  .name-category,
  .directions,
  .ingredients {
    margin: 50px auto 0 auto;
    height: fit-content;
    padding: 0;
  }
}
@media (max-width: 577px) {
  .name-category,
  .directions,
  .ingredients {
    margin: 50px 1em 0 1em;
    height: fit-content;
    padding: 0;
  }
}
