
.dashboard{
  height: 90vh;
}

.sidebar-wrapper {
  height: 100%;
  padding: 0;
  transition: all 0.3s cubic-bezier(1, -0.42, 0, 1.42);
  &.show {
    transform: translateX(0) !important;
  }
}
.recipes-wrapper {
  background-color: $bg-color;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.category-filter-wrapper {
  background-color: $primary-color;
  color: #fff;
  min-height: 70px;
  justify-content: center;
}
.grid-list-wrapper {
  background-color: $bg-color;
  flex-grow: 3;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 75%;
  & > h1 {
    margin: 20px;
    font-weight: lighter;
  }
}
.pagination-wrapper {
  background-color: wheat;
  min-height: 50px;
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  .overlay-active{
    transition: opacity .4s ease-in;
  }
  .sidebar-wrapper {
    transform: translateX(-140%);
    position: fixed;
    font-size: 1.2em;
    height: 100vh;
    top:0;
    z-index: 9999;
    box-shadow: 20px 18px 17px 3px rgba(0, 0, 0, 0.11);
    background-color: rgba($primary-color,.7);
    width: 80%;
    &-header {
      font-size: 1em;
    }
    & > .topbar {
      font-size: 0.8em;
    }
  }
  .mobile {
    padding: 0.5em;
    margin-right: 0.2em;
    position: absolute;
    z-index: 2;
    margin-right: 10px;
    top: 0;
    font-size: 2em;
    color:$secondary-color;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;

  }
  .overlay-active .animate{
    transform: translateY(0%);
    opacity: 1
  }
  .animate{
    transform: translateY(-200%);
    transition: transform .5s ease-in .3s, opacity .2s ease-in .4s;
    opacity: 0;
    }
  .mobile.animate{
    position: fixed;
    top: 20px;
    background: white;
  }
  }

