
.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote {
  text-align: center;
  font-size: 1.3em;
  font-family: fantasy;
  color: $primary-color;
}

.ingredients-wrapper,
.directions-wrapper,
.comments-wrapper {
  min-height: fit-content;
  margin-top: 25px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  & .display-4 {
    margin: 25px;
    text-transform: capitalize;
  }
}
.ingredients-wrapper, .ingredients-wrapper {
  margin-top: 0;
}
.comments-wrapper {
  min-height: 30vh;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  padding: 0;
  & h5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border: 1px darken($dimmed-white, 10%) solid;
    padding: 1em;
    font-size: 2em;
  }
}

.top-bar {
  & > span {
    color:$secondary-color;
    text-transform: uppercase;
    font-size: 1.5em;
  }
  & > span > em {
    color: $light-text;
  }
}
.icon-bar {
  height: fit-content;
  width: auto;
  position: fixed;
  left: 2%;
  bottom: 50%;
  transform: translateY(50%);
  & .icon-wrapper {
    font-size: 1.8rem;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background: white;
    color: $primary-color;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    border: 1px $primary-color solid;
    user-select: none;
    margin: 0.5em;
    transition: box-shadow 0.5s cubic-bezier(1, -0.74, 1, -0.85),
      background-color 0.5s cubic-bezier(1, -0.74, 1, -0.85) color 0.5s
        cubic-bezier(1, -0.74, 1, -0.85);
  }
}
.active {
  box-shadow: 1px 1px 5px 6px rgba($primary-color, 0.3);
  background: $primary-color !important;
  color: white !important;
}
.recipe-stat{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: rgba(0, 0, 0, 0.63);
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .icon-bar {
    top: unset;
    bottom: 0;
    flex-direction: row !important;
    flex-wrap: nowrap;
    width: 100%;
    height: 70px;
    padding: 20px 0;
    transform: translateY(0);
    background: white;
    border-top: 1px solid $primary-color;
  }
  .recipe {
    margin-bottom: 100px;
  }
}
@media (max-width: 990px) {
  .icon-bar {
    left: 0;
    & .icon-wrapper {
      font-size: 1.8rem;
      cursor: pointer;
      width: 50px;
      height: 50px;
    }
  }
}
