
.avatar{
  border-radius: 50%;
  max-width: 100%;
  border: 1px solid rgba($text-color,.5);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  height: 50px;
  width: 50px;
  font-size: 1.7rem;
  color: $text-color;
  cursor: pointer;
  font-weight: 200;
  outline: none;
  &-md{
    height: 70px;
    width:  70px;
  }
}
