#toast-container {
  z-index: 999999;
  opacity: 1;
  &> div {
    box-shadow: none;
    opacity: 1;
    border-radius: 0;
  }
}
.toast-title {
  font-size: 1.2em;
}
.toast-message {
  word-wrap: break-word;
  font-size: 1.2em;
  font-weight: 100;
}
