.not-found-text{
  margin-top: 0;
  font-size: 2.441rem;
  & i {
    font-size: 4rem;
    margin-right: .2rem;
  }
}
.not-found-wrapper,{
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
