@import '../../../scss/_var.scss';

.list-item{
  height: 50px;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-left: 40px;
  position: relative;
  margin-bottom: .3em;
  background-color: white;
  color:$dark-text;
  &:hover{
    background-color: white;
    color:$dark-text;
  }
  &::before{
    content: attr(data-index);
    height: inherit;
    width: 30px;
    background:white;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 1em;
    color:$dark-text;
    font-weight: bold;
  }
}
