
.a {
  font-size: 1em;
  color: $dark-text;
  text-decoration: none !important;
  font-size: 1.5rem;
}
.accordion-text {
  color: $dark-text;
  word-break: break-word
}

.accordion {
  background: transparent;
  border: 0;
}
