
.btn{
  border-radius: 2px;
  transition: box-shadow .4s ease-in;
  border: 0;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    @include box-shadow;
  }
  &-lg{
    font-size: 1.4rem;
  }
  &-secondary{
    background-color: $secondary-color !important;
    &-inverse{
      background-color: $primary-color !important;
    }
    &-outline{
      background: transparent;
      color:  $secondary-color !important;
      border: 1px  $secondary-color solid;
      transition: color .3s ease-in;
      box-shadow: none !important;
    }
  }
  &-primary{
    background-color: $primary-color !important;
    &-inverse{
      background-color: $light-text !important;
    }
    &-outline{
      background: transparent;
      color:  $primary-color !important;
      border: 1px  $primary-color solid;
      transition: color .3s ease-in;
      box-shadow: none !important;
    }

  }

}
