
.btn{
  border-radius: 2px;
  transition: box-shadow .4s ease-in;
  border: 0;
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: capitalize;
  &:hover {
    @include box-shadow;
  }
  &-lg{
    font-size: 1.4rem;
  }
  &-secondary{
    background-color: $secondary-color !important;
    &-inverse{
      background-color: $primary-color !important;
    }
  }
  &-primary{
    background-color: $primary-color !important;
    &-inverse{
      background-color: $light-text !important;
    }

  }
  &.outline-btn{
    background: transparent;
    color: white;
    border: 1px white solid;
    transition: color .3s ease-in;
  }
}
