
.text-input {
  min-height: 2.5em;
  font-size: 1.4em;
  transition: box-shadow 0.3s ease-in;
}
.help-text {
  font-size: 1.2rem;
  color: $danger-color;
  font-weight: 200;
  padding-left: 0.5em;
  padding-top: 0.25em;
  font-weight: 600;
  &::first-letter {
    text-transform: uppercase;
  }
}
.disable{
  box-shadow: none !important;
}
