
.list-item{
  @include box-shadow;
  min-height: 50px;
  text-transform: capitalize;
  padding-left: 40px;
  position: relative;
  margin-bottom: .5em;
  background-color:rgba($dimmed-white,0.3);
  padding: 1em 1.5em;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  &-text{
    margin: .1em;
    cursor: default;
    flex: 1;
    display: flex;
    align-items: center;
    height: inherit;
  }
  &:hover{
    background-color: white;
    color:$dark-text;
  }
  &::before{
    content: attr(data-index);
    height: inherit;
    width: 30px;
    background:white;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 1em;
    color:$dark-text;
    font-weight: bold;
  }
}
