
.top-bar{
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100px;
  min-height: fit-content;
  align-items: center;
  font-size: .8rem;
  max-height: 100px;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
  &-top{
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    & .avatar{
      margin: 0 .5em;
      text-align: center;
      user-select: none;
      order: -1;
    }
    & .nav{
      flex:1;
      & .nav-link{
        padding: 0.5rem 0.5rem;
        color: $text-color;
        text-transform: uppercase;
      }
    }
  }
  &-bottom{
    background: #311b02;
    width: 100%;
    height: 30px;
    min-height: fit-content;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .nav-link{
      padding: 0.5rem 0.5rem;
      color: darken(#fff, 20%);
      text-transform: uppercase;
      transition: color .3s ease;
      &:hover{
        color: #fff;
      }
    }
    & .logout{
      padding-right: 1rem;
    }
  }
}
