@import '../../../scss/_var.scss';

.btn{
  border-radius: 2px;
  transition: box-shadow .4s ease-in;
  border: 0;
  &:hover, &:focus{
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.3);

  }
  &-lg{
    font-size: 1.8rem;
  }
  &-primary{
    background-color: $secondary-color !important;
    color: $primary-color !important;
  }
  &-secondary{
    background-color: $primary-color !important;
    color: $light-text;
  }
  &.outline-btn{
    background: transparent;
    color: white;
    border: 1px white solid;
    transition: color .3s ease-in;
  }
}
