@import '../../../../scss/_var.scss';

.recipe-card{
  background: $bg-color;
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20.25%;
  min-width: 200px;
  max-width: 230px;
  margin: .5em;
  position: relative;
  height: fit-content;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  &-body{
    width: 100%;
    height: fit-content;
    background:$bg-color;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    position: relative;
    overflow: hidden;
    &:hover .recipe-card-underlay {
      opacity: 1;
      background: rgba($primary-color, 0.7);
      visibility: visible;
      border-radius: 4px 4px 0 0;
    }
    &:hover .recipe-card-title{
      transform: translateY(0%);
      opacity: 1;
      visibility: visible;
    }

  }
  &-title{
    transform: translateY(-1000%);
    transition: transform .4s cubic-bezier(0.22, 0.61, 0.36, 1) .4s,
    .6s opacity cubic-bezier(0.74, -0.17, 0.75, -0.17) .1s;
    opacity: 0;
    visibility: hidden;
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-top: .5rem;
  }
  &-img{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
&-footer{
  height: 40px;
  background: $bg-color;
  color: $primary-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 0 4px 4px ;
  & i{
    font-size: 1.6em;
    padding: 0 .2em;
    }
}
&-underlay {
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.7s opacity ease-in-out, 0.7s background-color ease-in-out,
    0.7s visibility ease-in-out;
  &-btn {
    background: transparent;
    color: $secondary-color;
    border: 1px $secondary-color solid;
    transition: color 0.3s ease-in;
  }
  &-heart {
    font-size: 10rem;
    transition: color 0.5s ease-in;
    margin-bottom: 0.2em;
  }
  &-heart:hover {
    color: $primary-color !important;
  }
  &-btn:hover {
    color: $bg-color !important;
    border: 1px $primary-color solid;
  }
}
}
