$primary-color:#BC411E !default;
$text-color:#7B4E28 !default;
$footer-color: #1d1001 !default;

$primary-color-light:rgba($primary-color, 0.42) !default;
$secondary-color: #7D9D5A !default;

$bg-color:#D7D9DC !default;
$btn-color: #4A7F24 !default;

$dark-text:lighten(#000,30%) !default;
$light-text:#fff !default;

$dimmed-white:#f8f9fa!default;
$danger-color:#d72b3f!default;
$success-color:#8BC34A !default;
$info-color: #0576b9!default;
$fav-color:#e74c3c !default;
$view-color:#2980b9 !default;
$vote-color:#7f8c8d !default;

$overlay-z:10!default;
$sidebar-z:15!default;

