.media-object{
  width: 100%;
  min-width: 250px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &-img{
    height: 6em;
    width: 6em;
    background: gray;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1em;
  }
  &-body{
    padding: .1em;
    flex: 2;
    margin-top: .5em;
  }
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

}
    // height: 50px;
    // background: #631e63;
    // /* margin: 0 -8px; */
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // color: white;
