.logo{
    max-width: 100%;
}
.navbar-brand{
  width: 100px;
  height: 100px;
  margin: 0;
}
.search{
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0 .7em;
  max-width: 500px;
  margin: 0 auto;
  &>.btn{
    margin: 0 !important;
    border-radius: 0;
  }
  &>.form-control{
    border-radius: 0;
  }
}
.navbar{
  padding-bottom: 0;
}
.navbar-nav{
  display: flex;
    margin: 0 !important;
    flex-direction: row;
    justify-content: center;
    padding: 0 1.5em;
}
.nav-item{
  padding: 0 .2em;
  margin: 0 .5em;
  &:hover, &.active{
    border-bottom: black 2px solid;
  }
}
