
.info-wrapper{
  padding: .7em;
  font-size: 2em;
  background: white;
  width: 80%;
  border-color:transparent; 
  border-left: 5px solid $secondary-color;
  position: relative;
  margin: 0 auto;
  max-width: 700px;
  > div>h3{
    font-size: 1.2em;
  }
  &::after{
    content: '';
    border: 10px solid ;
    position: absolute;
    top: -1px;
    right: -2px;
    border-top-color: $primary-color;
    border-right-color: $primary-color;

  }
}
.info{
  font-size: 1em;
  padding: .5em;
  &-item{
    list-style: none;
    line-height: 1.5em;
    text-transform: capitalize;
    font-size: .8em;
    color: $secondary-color;
  }
}
.edit-icon{
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: rgba($secondary-color,.7);
  font-size: .9em;
  cursor: pointer;
  &:hover{
    color: rgba($secondary-color,.8);
  }
  &-active{
    color:$primary-color !important;
  }
}
.main-content{
  position: relative;
  background-color: $primary-color;
  padding: 50px 0;
}
.user-recipes{
  width: 80%;
  min-height: 200px;
  background-color: white;
  margin: 25px auto;
  border-right: 5px solid $secondary-color;
  display: none;

}