$primary-color:#8a1e63 !default;//#8a1e63
$secondary-color: #E91E63!default;//#E91E63
$accent-color:#8BC34A !default;
$dark-text:lighten(#000,0.8%) !default;
$light-text:#fff !default;
$bg-color:#fff !default;

$overlay-z:10!default;
$sidebar-z:15!default;


$font-1:16px !default;
$font-2:16px !default;
$font-3:16px !default;
$font-4:16px !default;
$font-5:16px !default;
$font-6:16px !default;

$social-media-colors:(
  facebook :#3b5998,
  twitter:#00b6f1,
  youtube:#b31217,
  instagram:#c32aa3,
  google-pluse:#df4a32,
  linkedin:#007bb6,
  snap-chat:#fffc00
)!default;
